<!-- toDo: propose for the job -->
<section class="page-start">
  <h3 class="head-cat">{{category}}</h3>
  <div class="lower-div">
    <div class="jobt">
      <h3 class="job-heads">Title: <span class="job-details">{{projectDetails.title}}</span></h2>
      <div>
        <h4 class="job-heads">Skills Required: <span  class="job-details" class="job-details">{{projectDetails.skills}}</span></h3>
        <h4 class="job-heads">Budget: <span  class="job-details">{{projectDetails.budget}} $</span></h4>
        <h4 class="job-heads">Lifetime: <span  class="job-details">{{projectDetails.lifetime}} days</span></h4>
        <h4 class="job-heads">Description: <br>
          <p class="job-details">{{projectDetails.description}}</p>
        </h4>
      </div>
      <button class="sm-href" onclick="postProposal(this)">Propose</button>
    </div>
  </div>
</section>
<script src="/js/postProposal.js"></script>
